[submodule "vim/.vim/bundle/nerdtree"]
	path = vim/.vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vim/.vim/vim-plug-plugins/nerdtree"]
	path = vim/.vim/vim-plug-plugins/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vim/.vim/vim-plug-plugins/vimtex"]
	path = vim/.vim/vim-plug-plugins/vimtex
	url = https://github.com/lervag/vimtex.git
[submodule "vim/.vim/vim-plug-plugins/YCM-Generator"]
	path = vim/.vim/vim-plug-plugins/YCM-Generator
	url = https://github.com/rdnetto/YCM-Generator.git
[submodule "vim/.vim/vim-plug-plugins/YouCompleteMe"]
	path = vim/.vim/vim-plug-plugins/YouCompleteMe
	url = https://github.com/Valloric/YouCompleteMe.git
[submodule "vim/.vim/vim-plug-plugins/vim-commentary"]
	path = vim/.vim/vim-plug-plugins/vim-commentary
	url = https://github.com/tpope/vim-commentary.git
